body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

.input-box {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.add-btn {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background: #eee;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.button-group button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}